In [1]:
import pandas as pnd

In [2]:
df = pnd.read_csv("DefaultCreds-Cheat-Sheet.csv",delimiter=",")

In [3]:
df.head()

   Product/Vendor       Username       Password
0     Zyxel (ssh)          zyfwp    PrOw!aN_fXp
1     APC UPS (web)          apc            apcÂ
2    Weblogic (web)       system        manager
3    Weblogic (web)       system        manager
4    Weblogic (web)     weblogic      weblogic1

In [4]:
df.describe()

        Product/Vendor     Username   Password
count                3525       3152       3525
unique               1075       1169       1713
top                Oracle      admin
freq                  235        507        422